body, html {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 /* background-image: url('/NoteTaking.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.container-custom {
  background-color: rgba(16, 1, 1, 0.8);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.heading {
  color: #ff6b6b;
  font-size: 32px;
  margin-bottom: 20px;
}

.note-input {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ff6b6b;
  border-radius: 10px;
  font-size: 18px;
  transition: border-color 0.3s ease;
}

.note-input:focus {
  border-color: #ffaf6b;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #ff6b6b;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
  background-color: #ffaf6b;
  transform: scale(1.05);
}

.note-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  text-align: left;
}

.note-item {
  background-color: #ffecd5;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.note-item:hover {
  transform: translateY(-5px);
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.delete-button:hover {
  background-color: #ffaf6b;
  transform: scale(1.1);
}
