.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
}

.navbar-logo {
  width: 150px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar-item:hover {
  color: #ddd;
}
